
body {
  margin: 0;
}
.full{
  width:100vw;
  height:100vh;
}


/*STANDARD STYLES*/
h1, h2, p, ul, li {
  font-family: sans-serif;
}
h1{
  font-family: Crimson Text;
  font-weight: bold;
  font-size: 5em;
  line-height: .8em;
  text-align: left;
  letter-spacing: -.1rem;
  /*list-style-type: none;
  margin: 0;
  text-decoration: none;
  transition: background-size .4s ease, color .4s;
  background: linear-gradient(to bottom, transparent 40%, #E9B55D 0) top left/100% 60% no-repeat;
  padding: 0 6px 2px 6px;
  cursor: pointer;*/
}
h2{

}
h3{
  font-family: Crimson Text;
  font-size: 1.5em;
  font-weight: 400;
}
h4{
  font-family: Montserrat;
  font-size: 1em;
}
p{
  font-family: Crimson Text;
  font-size: 1em;
}
.textContainer{
  width:80vw;
  max-width:600px;
  margin-right: auto;
  margin-left: auto;
}
.twoColumns{
  position: inline-block;
  display: block;
  width:40%;
  margin-right:10%;
  float: left;
}
.primaryHeadingContainer{
  margin-top: 100px;
  margin-left: 50px;
  max-width: 400px;
}
/*COLOR SCHEMES*/
.darkBlue, .darkBlue a{
  background-color: #253850;
  color:white;
}
.yellow, .yellow a{
  background-color: #E9B55D;
  color:#253850;
}
.white, .white a{
  background-color: white;
  color:#253850;
}
.lightBlue, .lightBlue a{
  background-color: #17517F;
  color:white;
}

/*same styling for both layouts*/
ul.header li {
  list-style-type: none;
  margin: 0;
}
ul.header li a{
  text-decoration: none;
  transition: background-size .4s ease, color .4s;
  background: linear-gradient(to bottom, transparent 40%, #E9B55D 0) top left/0% 60% no-repeat;
  padding: 0 6px 2px 6px;
  cursor: pointer;
}


/*FULL SCREEN*/
.fullScreen .navLinks{
  position: absolute;
  top: 25vh;
  left: 10vw;
}

ul.fullScreen li a{
  font-family: Crimson Text;
  font-weight: bold;
  font-size: 5em;
  line-height: .8em;
  text-align: left;
  letter-spacing: -.1rem;
}

/*.fullScreen .slideLeft{
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;  
  animation-duration: .5s; 
  -webkit-animation-duration: .55s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   
  visibility: visible !important;      
}*/

@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}


/*TOP NAV*/
.topNav .navLinks{
  padding: 0;
  position: fixed;
  top: 0;
  margin: 0;
  right: 0;
  /*animate in*/
  animation-name: slideDown;
  -webkit-animation-name: slideDown;  
  animation-duration: .5s; 
  -webkit-animation-duration: .5s;
  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;  
  visibility: visible !important;           
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  60%{
    transform: translateY(4%);
  }
  75%{
    transform: translateY(-2%);
  }
  100%{
    transform: translateY(0%);
  }
}

ul.topNav li {
 padding: 20px;
  position: relative;
  display: inline-block;
  float:left;
}

ul.topNav li a{
  font-family: Montserrat;
  font-weight: bold;
  font-size: .8em;
  line-height: .8em;
  letter-spacing: .1em;
}

/*SHOP HOVER COLORS*/
.shopHover{
  transition: all 1s;
  background-color: #253850;
}
.shopHover .header a{
  color:#17517F;
}
.shopHover .header #shop{
  color:white;
}
ul.header li .shop{
  background: linear-gradient(to bottom, transparent 40%, #17517F 0) top left/0% 60% no-repeat;
}

/*when SHOP is hovered*/
/*
ul.blue li a{
  color: #17517F;
  background: linear-gradient(to bottom, transparent 40%, #17517F 0) top left/0% 60% no-repeat;
}
/* #shop:hover{
  color: white;
}
/*end blue hover*/

ul.header li a:hover{
    background-size: 100% 60%;
}
ul.header li a:active{
    background-size: 100% 60%;
}

#logo{
  position: fixed;
  top: 0;
  left:0;
  width:75px;
  background: none;
}




/*
.content {
  background-color: #FFCC00;
  padding: 20px;
  width: 100%;
  height: 100vh;
}
.content h2 {
  padding: 0;
  margin-top: 30vh;
  font-size:100px;
  text-align: center;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #0099FF;
}
*/
/*PORTFOLIO PROJECT*/
.project{
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 10vw;
  background-color: blue;
  height: 100vh;
}
.project h1{
  font-size: 170px;
  letter-spacing: -10px;
  line-height: 130px;
  position: absolute;
  margin-top: 5vw;
  top:0;
  left:0;
}

